.layout {
    margin-left: 10px;
}

.library-submit-button {
    margin-top: 15px;
}

.library-margin-10px {
    margin: 10px;
}

.library-display-block {
    display: block;
}

.library-display-none {
    display: none;
}